@import '../styles/variables';

.product-page {  
  .product-page-title {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    color: $dark-color;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1.5rem;
  }
}
