@use '../styles/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.default-layout {
    font-family: 'Inter', sans-serif;
    max-width: 375px;
    margin: 0 auto;
    padding: 1.5rem;
    min-height: 100vh;
    background-color: vars.$light-gray-color;
}