@use '../styles/variables' as vars;

.sku-selector {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    .sku {
        padding: 6px 12px;
        border: 1px solid;
        border-color: vars.$medium-gray-color;
        border-radius: 20px;
        background: none;
        cursor: pointer;
        font-size: 14px;
        color: vars.$medium-gray-color;

        &.active, &:hover {
            border-color: vars.$primary-color;
            color: vars.$primary-color;
            background-color: white;
        }
    }
}